docs/n8n-booking-workflow.json
{
    "name": "Discovery Call Booking Workflow",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "book-meeting",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook - Book Meeting",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1.1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "// Parse incoming booking data\nconst data = $input.first().json;\n\n// Convert date + time to ISO datetime\nconst timeStr = data.time; // e.g. '2:30 PM'\nconst dateStr = data.date; // e.g. '2026-02-15'\n\n// Parse time\nconst [timePart, meridiem] = timeStr.split(' ');\nlet [hours, minutes] = timePart.split(':').map(Number);\nif (meridiem === 'PM' && hours !== 12) hours += 12;\nif (meridiem === 'AM' && hours === 12) hours = 0;\n\n// Create start datetime (Central Time)\nconst startDate = new Date(`${dateStr}T${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}:00`);\n\n// End time = start + 30 minutes\nconst endDate = new Date(startDate.getTime() + 30 * 60 * 1000);\n\n// Reminder time = 1 hour before start\nconst reminderDate = new Date(startDate.getTime() - 60 * 60 * 1000);\n\nreturn [{\n  json: {\n    ...data,\n    startDateTime: startDate.toISOString(),\n    endDateTime: endDate.toISOString(),\n    reminderDateTime: reminderDate.toISOString(),\n    formattedDate: startDate.toLocaleDateString('en-US', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }),\n    formattedTime: data.time + ' CT'\n  }\n}];"
            },
            "id": "parse-data",
            "name": "Parse & Convert DateTime",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                470,
                300
            ]
        },
        {
            "parameters": {
                "resource": "event",
                "calendar": {
                    "__rl": true,
                    "value": "primary",
                    "mode": "list"
                },
                "start": "={{ $json.startDateTime }}",
                "end": "={{ $json.endDateTime }}",
                "additionalFields": {
                    "summary": "Discovery Call – {{ $json.name }}",
                    "description": "Discovery Call with {{ $json.name }}\n\nEmail: {{ $json.email }}\nCompany: {{ $json.company }}\nBudget: {{ $json.budget }}\n\nProject Description:\n{{ $json.description }}",
                    "attendees": [
                        "{{ $json.email }}",
                        "mikeyscimeca.dev@gmail.com"
                    ],
                    "conferenceDataVersion": 1,
                    "sendUpdates": "all",
                    "location": "Google Meet (auto-generated)",
                    "timeZone": "America/Chicago"
                },
                "conferenceData": {
                    "createRequest": {
                        "requestId": "={{ $json.email }}-{{ Date.now() }}",
                        "conferenceSolutionKey": {
                            "type": "hangoutsMeet"
                        }
                    }
                }
            },
            "id": "google-calendar",
            "name": "Create Google Calendar Event",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                690,
                300
            ],
            "credentials": {
                "googleCalendarOAuth2Api": {
                    "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
                    "name": "Google Calendar Account"
                }
            }
        },
        {
            "parameters": {
                "fromEmail": "Michael Scimeca <onboarding@resend.dev>",
                "toEmail": "={{ $('Parse & Convert DateTime').item.json.email }}",
                "subject": "✅ Your Discovery Call is Confirmed",
                "html": "<div style=\"font-family: -apple-system, sans-serif; max-width: 600px; margin: 0 auto; background: #0a0a0a; color: #fff; border-radius: 12px; overflow: hidden;\"><div style=\"height: 4px; background: linear-gradient(to right, #0158ff, #6500ff, #0158ff);\"></div><div style=\"padding: 32px;\"><h1 style=\"font-size: 24px; color: #fff;\">Your Meeting is Confirmed! 🎉</h1><p style=\"color: #888;\">Thanks {{ $('Parse & Convert DateTime').item.json.name }}, I'm looking forward to our conversation.</p><div style=\"background: rgba(1,88,255,0.1); border: 1px solid rgba(1,88,255,0.3); border-radius: 8px; padding: 20px; margin: 20px 0;\"><p style=\"color: #0158ff; text-transform: uppercase; letter-spacing: 1px; font-size: 14px;\">Discovery Call</p><p style=\"color: #fff; font-size: 20px; font-weight: 600;\">{{ $('Parse & Convert DateTime').item.json.formattedDate }}</p><p style=\"color: #fff; font-size: 18px;\">{{ $('Parse & Convert DateTime').item.json.formattedTime }}</p><p style=\"margin-top: 12px;\"><a href=\"{{ $('Create Google Calendar Event').item.json.hangoutLink }}\" style=\"color: #0158ff; font-weight: 600;\">Join Google Meet →</a></p></div><p style=\"color: #555; font-size: 12px;\">Michael Scimeca · Senior Web Developer & AI Automation Specialist</p></div></div>",
                "options": {}
            },
            "id": "confirmation-email",
            "name": "Send Confirmation to User",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                910,
                200
            ]
        },
        {
            "parameters": {
                "fromEmail": "Booking System <onboarding@resend.dev>",
                "toEmail": "mikeyscimeca.dev@gmail.com",
                "subject": "🗓️ New Discovery Call: {{ $('Parse & Convert DateTime').item.json.name }}",
                "html": "<h1>New Discovery Call Booked</h1><p><strong>Name:</strong> {{ $('Parse & Convert DateTime').item.json.name }}</p><p><strong>Email:</strong> {{ $('Parse & Convert DateTime').item.json.email }}</p><p><strong>Company:</strong> {{ $('Parse & Convert DateTime').item.json.company }}</p><p><strong>Budget:</strong> {{ $('Parse & Convert DateTime').item.json.budget }}</p><p><strong>Date:</strong> {{ $('Parse & Convert DateTime').item.json.formattedDate }}</p><p><strong>Time:</strong> {{ $('Parse & Convert DateTime').item.json.formattedTime }}</p><p><strong>Description:</strong> {{ $('Parse & Convert DateTime').item.json.description }}</p><p><a href=\"{{ $('Create Google Calendar Event').item.json.hangoutLink }}\">Google Meet Link</a></p>",
                "options": {}
            },
            "id": "notify-me",
            "name": "Notify Me",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                910,
                400
            ]
        },
        {
            "parameters": {
                "amount": 1,
                "unit": "hours",
                "toWaitTill": "={{ $('Parse & Convert DateTime').item.json.reminderDateTime }}",
                "options": {}
            },
            "id": "wait-reminder",
            "name": "Wait Until 1 Hour Before",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                1130,
                300
            ]
        },
        {
            "parameters": {
                "fromEmail": "Michael Scimeca <onboarding@resend.dev>",
                "toEmail": "={{ $('Parse & Convert DateTime').item.json.email }}, mikeyscimeca.dev@gmail.com",
                "subject": "⏰ Reminder: Meeting in 1 Hour",
                "html": "<div style=\"font-family: -apple-system, sans-serif; max-width: 600px; margin: 0 auto; background: #0a0a0a; color: #fff; border-radius: 12px; overflow: hidden;\"><div style=\"height: 4px; background: linear-gradient(to right, #0158ff, #6500ff, #0158ff);\"></div><div style=\"padding: 32px;\"><h1 style=\"font-size: 24px; color: #fff;\">Meeting Starting Soon ⏰</h1><p style=\"color: #888;\">Your discovery call is in 1 hour.</p><div style=\"background: rgba(1,88,255,0.1); border: 1px solid rgba(1,88,255,0.3); border-radius: 8px; padding: 20px; margin: 20px 0; text-align: center;\"><p style=\"color: #fff; font-size: 20px; font-weight: 600;\">{{ $('Parse & Convert DateTime').item.json.formattedTime }}</p><a href=\"{{ $('Create Google Calendar Event').item.json.hangoutLink }}\" style=\"display: inline-block; padding: 12px 32px; background: #0158ff; color: #fff; text-decoration: none; border-radius: 8px; font-weight: 600; margin-top: 12px;\">Join Google Meet →</a></div></div></div>",
                "options": {}
            },
            "id": "reminder-email",
            "name": "Send Reminder Email",
            "type": "n8n-nodes-base.emailSend",
            "typeVersion": 2.1,
            "position": [
                1350,
                300
            ]
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ JSON.stringify({ success: true, message: 'Booking confirmed', meetLink: $('Create Google Calendar Event').item.json.hangoutLink }) }}",
                "options": {}
            },
            "id": "respond-webhook",
            "name": "Respond to Webhook",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1130,
                500
            ]
        }
    ],
    "connections": {
        "Webhook - Book Meeting": {
            "main": [
                [
                    {
                        "node": "Parse & Convert DateTime",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse & Convert DateTime": {
            "main": [
                [
                    {
                        "node": "Create Google Calendar Event",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Google Calendar Event": {
            "main": [
                [
                    {
                        "node": "Send Confirmation to User",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Notify Me",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Wait Until 1 Hour Before",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait Until 1 Hour Before": {
            "main": [
                [
                    {
                        "node": "Send Reminder Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "booking"
        },
        {
            "name": "production"
        }
    ]
}